<h1> asi-fa-icon </h1>
<h3> Allow you to simply integration fontawesome icon </h3>
<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiFaIconModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <div fxLayout="row">
    <asi-fa-icon icon="fa fa-check-circle" size="1x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-check-circle" size="lg"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-check-circle" size="2x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-check-circle" size="3x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-check-circle" size="4x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-check-circle" size="5x"></asi-fa-icon>
  </div>
  <div fxLayout="row">
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="1x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="lg"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="2x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="3x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="4x"></asi-fa-icon>
    <asi-fa-icon icon="fa fa-spinner fa-spin" size="5x"></asi-fa-icon>
  </div>
  <div fxLayout="row">
    <asi-fa-icon icon="far fa-check-circle" size="2x" label="tooltip" labelPosition="bottom" tooltip="1x right"
      tooltipPosition="right" [disabled]="true"></asi-fa-icon>
    <asi-fa-icon icon="far fa-check-circle" size="2x" label="click me!" labelPosition="bottom" (onClick)="action()"></asi-fa-icon>
    <asi-fa-icon icon="far fa-check-circle" size="2x" label="click only on icon!" labelPosition="bottom"
      noClickOnLabel="true" (onClick)="action()"></asi-fa-icon>
  </div>
</div>

<div fxLayout="row" class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
        <asi-code-viewer value="/** icon from fontawesome website */
@Input() icon: string;
/** icon size */
@Input() size: '1x' | '2x' | '3x' | '4x';
/** label to display */
@Input() label: string;
/** label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';
/** Click on the icon submit form */
@Input() submit = false;
/** is enabled/disabled */
@Input() disabled: boolean;
/** tooltip when mouse over */
@Input() tooltip: boolean;
/** tooltip position */
@Input() tooltipPosition: 'top' | 'left' | 'right' | 'bottom' = 'bottom';
/** disable click on label */
@Input() noClickOnLabel = false;"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-fa-icon/asi-fa-icon.component.html"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
