<div class="asi-menu-container">
  <span *ngIf="burger" (click)="toggleBurger()">
    <ng-template *ngIf="burgerTemplate != null" [ngTemplateOutlet]="burgerTemplate"></ng-template>
  </span>
  <ul class="asi-menu-panel">
    <li *ngIf="burgerOpen" class="items-container" [ngClass]="{'vertical' : vertical, 'burger' : burger }">
      <button *ngFor="let item of items" class="item-container" routerLinkActive="active" [routerLink]="item.routerLink" [disabled]="disabled || item.disabled"
        (click)="item.emitClick($event)">
          <ng-template *ngIf="item.template != null" [ngTemplateOutlet]="item.template"></ng-template>
      </button>
    </li>
  </ul>
</div>