<h1> asi-table </h1>

<div fxLayout="column" class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiTableModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <div fxLayout="column">
    <h2 translate="COMMON.demo"></h2>
    <label> Nb items selected : {{mySelectionModel.nbItemsSelected}}</label>
    <asi-table [rowClass]="{ 'row-class' : rowClassMethod() && '{row}.col2%2 == 0'}" [autoPaginate]="true"
      [nbElementParPage]="5" [autoSort]="true" [selectionModel]="mySelectionModel" [onRequestData]="refreshTable"
      fxFlex>
      <asi-table-column type="checkbox"></asi-table-column>
      <asi-table-column name="col1" libelle="Libelle column" sortable="true">
        <asi-cell *asiCellDef="let row"> {{row.col2}} {{row.col1}} </asi-cell>
        <asi-header *asiTableHeaderDef="let row">{{row.libelle}}</asi-header>
      </asi-table-column>
      <asi-table-column name="col2" libelle="Libelle 2" [columnClass]="{ 'valid' : checked}">
        <asi-cell *asiCellDef="let row"> Col {{row.col2}} </asi-cell>
      </asi-table-column>
      <asi-table-column name="col3" libelle="Libelle 3">
        <asi-cell *asiCellDef="let row">
          <asi-input [(ngModel)]="row.col3"></asi-input>
        </asi-cell>
      </asi-table-column>
      <asi-table-column name="col4.libelle" libelle="Super libelle 4">
        <asi-cell *asiCellDef="let row">
          <asi-datepicker [(ngModel)]="row.col4"></asi-datepicker>
        </asi-cell>
      </asi-table-column>
      <asi-table-column [inlineColumn]="true">
        <asi-table-inliner colSpan="2">
          <asi-cell *asiCellDef="let row">Code : {{row.col5.code}}</asi-cell>
        </asi-table-inliner>
        <asi-table-inliner colSpan="3">
          <asi-cell *asiCellDef="let row">Libelle : {{row.col5.libelle}}</asi-cell>
        </asi-table-inliner>
      </asi-table-column>
    </asi-table>
  </div>
</div>

<div class="flex-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <h3> AsiTable </h3>
      <asi-code-viewer value="/** Sorte table automatically */
@Input() autoSort = false;

/** Auto paginate the table */
@Input() autoPaginate = false;

/** Nb element by page */
@Input() nbElementParPage = 25;

/** Define a selection model */
@Input() selectionModel = new AsiTableSelectionModel('id', false);

/** Use a ngClass expression to add a class on a row*/
@Input() rowClass: any;

/** Will call onRequestData when init */
@Input() fireRefreshOnInit = true;

/** Focus to the top of the table when page chanched */
@Input() changePageOnTop = false;

/** Method called when table will ask for data */
/** (on init , on sort ( autoSort is false), on page changed (autoPaginate is false) */
@Input() onRequestData: Function;"></asi-code-viewer>

      <h3> AsiTableColumn </h3>
      <asi-code-viewer value="/** Column name (used to extract data from bean if cell template not defined) */
@Input() name: string;
/** name of the bean attribute used to sort the column */
@Input() sortName: string;
/** Libelle of the header (is template not defined) */
@Input() libelle: string;

/** ngIf for column */
@Input() showIf: boolean;
/** !ngif for column */
@Input() hideIf: boolean;

/** Sort in reserve */
@Input() inversSort = false;

/** Is the column sortable */
@Input() sortable = false;

/** Autosort this column when you give new data */
@Input() sortByDefault: boolean;

/** Add a class to this column */
@Input() columnClass: any;

/** The column will be inlined */
@Input() inlineColumn = false;

/** Type of the column (checkbox will display checkbox column) */
@Input() type: 'text' | 'checkbox' = 'text';

/** Event emitted when checkbox is checked */
@Output() onChecked = new EventEmitter<any>();

/** Event emitted when the 'allcheckbox' is checked */
@Output() onAllChecked = new EventEmitter<boolean>();"></asi-code-viewer>


      <h3> AsiTableInliner </h3>
      <asi-code-viewer value="/** Colspan of the column */
@Input() colSpan: number;"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-table/asi-table.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-table/asi-table.component.ts"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS-2">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-table/tableRow.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
