<h1> asi-dialog </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiDialogModule } from '@asi-ngtools/lib'"></asi-code-viewer>
    <span><b>add public viewContainerRef : viewContainerRef in your root component constructor </b></span>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <div fxLayout="row" fxLayoutAlign="center">
    <asi-button (click)="showDialog()"> Show dialog </asi-button>
  </div>
</div>

<div fxLayout="row" class="flex-panel">
  <asi-tab-group>
    <asi-tab label="TS1">
      <asi-code-viewer readOnly="true" language="typescript" fromUrl="assets/demo/asi-dialog/asi-dialog.component.ts"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS2">
      <asi-code-viewer readOnly="true" language="typescript" fromUrl="assets/demo/asi-dialog/dialog.component.ts"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer readOnly="true" language="html" fromUrl="assets/demo/asi-dialog/dialog.component.html"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
