<h1> asi-image-chooser </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiImageChooserModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <form [formGroup]="myForm">
    <div class="asiContainer">
      <asi-image-chooser (onImageSelected)="imageSelect($event)" formControlName="myModel"></asi-image-chooser>
      <asi-error-messages forName="myModel">
        <asi-message error="required" value="VALIDATIONS.required" [onSubmit]="true"></asi-message>
        <asi-message error="fileSize" value="Filesizezzzzz"></asi-message>
      </asi-error-messages>
    </div>
    <div fxLayout="row">
      <asi-button type="submit">Submit</asi-button>
    </div>
  </form>
</div>

<div fxLayout="row" class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
        <asi-code-viewer value="/** html id */
@Input() id: string;
/** html name */
@Input() name: string;

/** Label to display (is translated) */
@Input() label: string;
/** Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';

/** Init the image chooser with an url */
@Input() imageSrc: string;
/** Init the image chooser with a base64 */
@Input() image64: string;

/** Icon to display when empty */
@Input() icon = 'far fa-image';

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter();

/** Event emitted when an image is selected */
@Output() onImageSelected = new EventEmitter<File>();

/** Event emitted when an error occured with the selected image */
@Output() onError = new EventEmitter<any>();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-image-chooser/asi-image-chooser.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-image-chooser/asi-image-chooser.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
