<h1> asi-checkbox </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiCheckBoxModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
    <h2 translate="COMMON.demo"></h2>
    <h3 translate="COMMON.withNgModel"></h3>
    <asi-checkbox [(ngModel)]="check" label="checkbox" labelPosition="left"></asi-checkbox>

    <h3 translate="COMMON.withFormControl"></h3>
    <form [formGroup]="myForm">
      <div class="asi-container">
        <asi-checkbox formControlName="myModel" label="checkbox" labelPosition="left"></asi-checkbox>
        <error-messages forName="myModel">
          <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
        </error-messages>
      </div>
      <div fxLayout="row">
        <asi-button type="submit">Submit</asi-button>
      </div>
    </form>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="/** Label (is translated) */
@Input() label: string;
/** Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';
/** design : checkbox (square) or radio (round) */
@Input() type: 'checkbox' | 'radio' = 'checkbox';

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-checkbox/asi-checkbox.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-checkbox/asi-checkbox.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
