<!-- [(ngModel)] -->
<asi-autocomplete-multiple label="label-autocomplete" [onRequestData]="requestDataMultiple" [(ngModel)]="autoCompleteMultipleValue">
  <asi-tag *asiTagDef="let data">{{data?.code}}</asi-tag>
  <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
  <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
</asi-autocomplete-multiple>

<!-- [formGroup] -->
<form [formGroup]="myFormMultiple">
  <div class="asi-container">
    <asi-autocomplete-multiple label="label-autocomplete" [onRequestData]="requestDataFormMultiple"
      formControlName="myModel">
      <asi-tag *asiTagDef="let data">{{data?.code}}</asi-tag>
      <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
      <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
    </asi-autocomplete-multiple>
    <error-messages forName="myModel">
      <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
    </error-messages>
  </div>
  <div fxLayout="row">
    <asi-button type="submit">Submit</asi-button>
  </div>
</form>
