<div fxLayout="row">
  <asi-fa-icon icon="fa fa-check-circle-o" size="1x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="lg"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="2x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="3x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="4x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="5x"></asi-fa-icon>
</div>
<div fxLayout="row">
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="1x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="lg"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="2x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="3x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="4x"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-spinner fa-spin" size="5x"></asi-fa-icon>
</div>
<div fxLayout="row">
  <asi-fa-icon icon="fa fa-check-circle-o" size="2x" label="tooltip" labelPosition="bottom" tooltip="1x right"
    tooltipPosition="right" [disabled]="true"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="2x" label="click me!" labelPosition="bottom" (onClick)="action()"></asi-fa-icon>
  <asi-fa-icon icon="fa fa-check-circle-o" size="2x" label="click only on icon!" labelPosition="bottom" noClickOnLabel="true"
    (onClick)="action()"></asi-fa-icon>
</div>
