<h1> asi-select </h1>

<div fxLayout="column" class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiSelectModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <div fxLayout="column">
    <h3 translate="COMMON.withNgModel"></h3>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <asi-select label="Referentiel" labelPosition="top" [data]="datas" withEmptyValue="true" [(ngModel)]="selectValue"
        (onValueChange)="valueChange()">
        <asi-empty *asiEmptyData="let data">
          <div>Please select a value</div>
        </asi-empty>
        <asi-selected *asiSelectedDef="let data">{{data.code}}</asi-selected>
        <asi-option *asiOptionDef="let data">{{data.code}} - {{data.libelle}}</asi-option>
      </asi-select>
    </div>

    <h3 translate="COMMON.withFormControl"></h3>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="asi-container">
        <asi-select label="Referentiel" labelPosition="left" multiple="true" [data]="datas" formControlName="myModel"
          (onValueChange)="valueChange()">
          <asi-empty *asiEmptyData="let data">Please select a value</asi-empty>
          <asi-selected *asiSelectedDef="let data">{{data?.length}}</asi-selected>
          <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
        </asi-select>
        <error-messages forName="myModel">
          <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
        </error-messages>
      </div>
      <div fxLayout="row">
        <asi-button type="submit">Submit</asi-button>
      </div>
    </form>
  </div>
</div>

<div class="flex-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="  /** Label to display (is translated) */
@Input() label: string;

/** Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';

/** Data to display  */
@Input() data: Array<any>;

/** Multi selection  */
@Input() multiple = false;

/** Track data base on a sub attribute rather than reference  */
@Input() trackBy: string;

/** Add an empty value (template must be define) */
@Input() withEmptyValue = false;

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-select/asi-select.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-select/asi-select.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
