<!-- [(ngModel)] -->
<asi-autocomplete label="label-autocomplete" [onRequestData]="requestData" [(ngModel)]="autoCompleteValue">
  <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
  <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
</asi-autocomplete>

<!-- [formGroup] -->
<form [formGroup]="myForm">
  <div class="asi-container">
    <asi-autocomplete label="label-autocomplete" [onRequestData]="requestDataForm" formControlName="myModel">
      <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
      <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
    </asi-autocomplete>
    <error-messages forName="myModel">
      <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
    </error-messages>
  </div>
  <div fxLayout="row">
    <asi-button type="submit">Submit</asi-button>
  </div>
</form>
