<h3> With ngModel</h3>
<asi-autocomplete [onRequestData]="requestData" label="label-autocomplete" [data]="datas" [(ngModel)]="autoCompleteValue">
  <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
  <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
</asi-autocomplete>

<h3> With formControl</h3>
<form [formGroup]="myForm">
  <div class="asi-container">
    <asi-autocomplete [onRequestData]="requestDataForm" label="label-autocomplete" [data]="datasForm" formControlName="myModel">
      <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
      <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
    </asi-autocomplete>
    <error-messages forName="myModel">
      <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
    </error-messages>
  </div>
  <div fxLayout="row">
    <asi-button type="submit">Submit</asi-button>
  </div>
</form>
