<div fxLayout="row" fxFlex="1 0 auto">

  <div class="left-band" fxFlex="0 0 40%" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="1 0 auto">
      <h2 translate="HOME.description"></h2>
      <div class="logo-panel" fxFlex="1 0 auto">
        <img src="assets/universal-logo.png" />
        <h3> Angular Universal </h3>
      </div>
      <div class="logo-panel" fxFlex="1 0 auto">
        <img src="assets/angular-logo.png" />
        <h3> Angular 6 </h3>
      </div>
    </div>
  </div>

  <div class="right-band" fxLayout="column" fxFlex="1 0 auto">
    <div fxLayout="row" fxLayoutAlign="center">
      <img src="assets/asi-ngtools-logo.PNG" />
    </div>
    <div class="car-panel" fxFlex="0 0 auto" fxLayout="column" fxLayoutAlign="center center">
      <a class="card a-no-decoration" fxFlex="1 0 auto" routerLink="/showroom" fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/documentation2.svg">
        <span>Documentation</span>
      </a>
      <a class="card a-no-decoration left-25" fxFlex="1 0 auto" href="https://github.com/xrobert35/asi-ngtools" target="_blank" fxLayout="row"
        fxLayoutAlign="start center">
        <img src="assets/github.png">
        <span>Sources</span>
      </a>
      <a class="card a-no-decoration left-50" fxFlex="1 0 auto" href="https://www.npmjs.com/package/@asi-ngtools/lib" target="_blank" fxLayout="row"
        fxLayoutAlign="start center">
        <img src="assets/npm.png">
        <span>NPM</span>
      </a>
    </div>
  </div>

</div>
