<h1> asi-file-chooser </h1>

<div class="fixed-panel">
  <h3 translate="COMMON.installation"></h3>
  <div class="install">
    <asi-code-viewer value="import { AsiFileChooserModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
    <h2 translate="COMMON.demo"></h2>
    <form [formGroup]="myForm">
        <div class="asi-container">
          <asi-file-chooser label="file-chooser" labelPosition="left" [accept]="pdfMimeType"(onValueChange)="fileSelected($event)"
            formControlName="myModel"></asi-file-chooser>
          <error-messages forName="myModel">
            <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
          </error-messages>
        </div>
        <div fxLayout="row">
          <asi-button type="submit">Submit</asi-button>
        </div>
      </form>
</div>
<div fxLayout="row" class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
        <asi-code-viewer value="/** html id */
@Input() id: string;
/** html name */
@Input() name: string;
  /** Label to display (is translated) */
@Input() label: string;
/** Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';
/** Preload filechooser with an url */
@Input() fileSrc: string = null;
/** Allow you to force the name of the file */
@Input() fileName: string = null;
/** Liste of mimetype */
@Input() accept: Array<AsiMimeType> | AsiMimeType;
/** Icon to display */
@Input() icon = 'fa fa-paperclip';

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter<any>();

/** Event emitted when an error occured with the selected file */
@Output() onError = new EventEmitter<any>();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-file-chooser/asi-file-chooser.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-file-chooser/asi-file-chooser.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
