<h1> asi-breadcrumb </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiBreadcrumbModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <div class="margin10" fxLayout="column">
      <asi-breadcrumb [data]="elements" trackBy="name" (clicked)="itemClicked($event)"></asi-breadcrumb>
      <asi-button (click)="addFolder()">Add a folder</asi-button>
      <span>Input data:</span>
      <div *ngFor="let elem of elements">
        <span>{{elem.name}}</span>
      </div>
    </div>
</div>
<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
        <asi-code-viewer value="/** List of items to be displayed */
@Input() data: Array<T>;

/** The json node to display on each element */
@Input() trackBy: string;

/** Allow you to add the home button */
@Input() hideHome: boolean;"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-breadcrumb/asi-breadcrumb.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-breadcrumb/asi-breadcrumb.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
