<asi-button design="flat">Flat Button</asi-button>
<asi-button design="raised">Raised Button</asi-button>
<asi-button design="bordered">Bordered Button</asi-button>

<asi-link-button design="flat" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link Flat Button</asi-link-button>
<asi-link-button design="raised" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link Raised Button</asi-link-button>
<asi-link-button design="bordered" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link Bordered Button</asi-link-button>
