<h1 class="title"> asi-datepicker </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <code>import AsiNgToolsModule or AsiDatepickerModule</code>
  </div>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="Demo">
      <h3 translate="COMMON.withNgModel"></h3>
      <asi-datepicker [(ngModel)]="date" label="datepicker" labelPosition="left" [minDate]="minDate"></asi-datepicker>
      <span> {{date | asiDate }}</span>

      <h3 translate="COMMON.withFormControl"></h3>
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div fxLayout="row">
          <div class="asi-container">
            <asi-datepicker formControlName="from" label="From : " labelPosition="left" [maxDate]="myForm.value.to"></asi-datepicker>
            <span> {{myForm.value.myModel | asiDate }}</span>
            <error-messages forName="from">
              <message error="required" value="VALIDATIONS.required"></message>
              <message error="maxDate" value="Date trop grande"></message>
            </error-messages>
          </div>
          <div class="asi-container">
            <asi-datepicker formControlName="to" label="To : " labelPosition="left" [minDate]="myForm.value.from"></asi-datepicker>
            <span> {{myForm.value.myModel | asiDate }}</span>
            <error-messages forName="to">
              <message error="required" value="VALIDATIONS.required"></message>
              <message error="minDate" value="Date trop petite"></message>
            </error-messages>
          </div>
        </div>
        <div fxLayout="row">
          <asi-button type="submit">Submit</asi-button>
        </div>
      </form>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-datepicker/asi-datepicker.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-datepicker/asi-datepicker.component.ts"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="Attributes">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>[label]</td>
            <td>Component label</td>
          </tr>
          <tr>
            <td>[labelPosition]</td>
            <td>Component label position in 'top' , 'left' , 'right' , 'bottom</td>
          </tr>
          <tr>
            <td>[placeholder]</td>
            <td>Allows you to define a placeholder when the input is empty</td>
          </tr>
          <tr>
            <td>[patern]</td>
            <td>Allows you to define the date pattern. Default value = "DD/MM/YYYY"</td>
          </tr>
          <tr>
            <td>[minDate]</td>
            <td>The minimum date you can pick</td>
          </tr>
          <tr>
            <td>[maxDate]</td>
            <td>The maximum date you can pick</td>
          </tr>
          <tr>
            <td>[autoOpen]</td>
            <td>Automatically opens the datepicker when clicking on it instead of the button. Default value = "true"</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
    <asi-tab label="Style Override">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>@asi-datepicker-outline-border</td>
            <td>Border color when focused</td>
          </tr>
          <tr>
            <td>@asi-datepicker-height</td>
            <td>The height of the input field</td>
          </tr>
          <tr>
            <td>@asi-datepicker-border</td>
            <td>Border of the input field</td>
          </tr>
          <tr>
            <td>@asi-datepicker-border-radius</td>
            <td>Border radius of the input field</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
  </asi-tab-group>
</div>
