<h3 translate="COMMON.withNgModel"></h3>
<asi-radio-button-group [(ngModel)]="radioValue" label="Radio Group" [multiple]="true" trackBy="code">
  <asi-radio-button design="raised" [value]="model1">Radio 1</asi-radio-button>
  <asi-radio-button design="raised" [value]="model2">Radio 2</asi-radio-button>
  <asi-radio-button design="raised" [value]="model3">Radio 3</asi-radio-button>
</asi-radio-button-group>
<h3 translate="COMMON.withFormControl"></h3>
<form [formGroup]="myForm" (ngSubmit)="submitting()">
  <div class="asi-container">
    <asi-radio-button-group formControlName="radios" label="Radio Group" trackBy="code">
      <asi-radio-button [value]="fcontrol1">Radio 1</asi-radio-button>
      <asi-radio-button [value]="fcontrol2">Radio 2</asi-radio-button>
      <asi-radio-button [value]="fcontrol3">Radio 3</asi-radio-button>
    </asi-radio-button-group>
    <error-messages forName="radios">
      <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
    </error-messages>
  </div>
  <div fxLayout="row">
    <asi-button type="submit">Submit</asi-button>
  </div>
</form>
