asi-dropdown-container, .asi-dropdown-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  .dropdown-container {
    position: absolute;
  }
}

.asi-dropdown {
  display: flex;
  flex-direction: column;
}