@primary-color : #C3C922;
@secondary-color : #069595;
@thirdly-color : #4B545C;
@fourthly-color : #38424b;

@red-color : #e04646;
@blue-color : steelblue;

@error-color : red;
@validator-color : green;

@mobile-media: ~"only screen and (max-width: 599px)";

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
