<h1> asi-bind-html </h1>
<h3> Allow you to bind html from a file or from a string value </h3>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiBindHtmlModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.result"></h2>
  <asi-bind-html value="<h1> Hello </h1>"></asi-bind-html>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="/** Bind html from string value */
@Input() value: string;

/** Load html from an url */
@Input() fromUrl: string;">
      </asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" value="<asi-bind-html value='<h1> Hello </h1>'></asi-bind-html>"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
