<div fxLayout="column">
  <!-- [(ngModel)] -->
  <asi-input-icon icon="fa fa-bars" label="asi-input" labelPosition="left" [(ngModel)]="inputValue" (iconClicked)="console.log($event)"></asi-input-icon>

  <!-- [fromGroup] -->
  <form [formGroup]="myForm" fxFlex (ngSubmit)="submit()">
    <div class="asi-container">
      <asi-input-icon icon="fa fa-bars" iconPosition="right" label="asi-input" labelPosition="left" formControlName="myModel"></asi-input-icon>
      <error-messages forName="myModel">
        <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
      </error-messages>
    </div>
    <div fxLayout="row">
      <asi-button type="submit">Submit</asi-button>
    </div>
  </form>
</div>
