<h1 class="title"> asi-switch </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <code>import AsiNgToolsModule or AsiSwitchModule</code>
  </div>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="Demo">
      <asi-switch [(ngModel)]="value" label="switch"></asi-switch>
      {{value}}
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-switch/asi-switch.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-switch/asi-switch.component.ts"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="Attributes">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>[label]</td>
            <td>Component label</td>
          </tr>
          <tr>
            <td>[labelPosition]</td>
            <td>Component label position in 'top' , 'left' , 'right' , 'bottom</td>
          </tr>
          <tr>
            <td>[disabled]</td>
            <td>Allows you to disable the switch</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
    <asi-tab label="Style Override">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>@asi-switch-label-color</td>
            <td>Label color</td>
          </tr>
          <tr>
            <td>@asi-switch-background-color</td>
            <td>Background color of the switch</td>
          </tr>
          <tr>
            <td>@asi-switch-checked-background-color</td>
            <td>Background color of the switch when checked</td>
          </tr>
          <tr>
            <td>@asi-switch-color</td>
            <td>Color of the switch button</td>
          </tr>
          <tr>
            <td>@asi-switch-checked-color</td>
            <td>Color of the switch button when checked</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
  </asi-tab-group>
</div>
