<label class="input-label" *ngIf="label != null">{{label | translate}}</label>
<div class="input-panel" [ngClass]="{'icon-left': iconPosition=='left', 'icon-right': iconPosition=='right'}">
  <asi-button (click)="handleIconClick()" [disabled]="iconClicked.observers.length === 0">
    <asi-fa-icon [icon]="icon" [disabled]="iconClicked.observers.length === 0"></asi-fa-icon>
  </asi-button>
  <input #input [attr.type]="type" [attr.disabled]="disabled ? '' : null" class="asi-focus-error" [placeholder]="placeholder"
    [formControl]="inputControl" />
</div>