<h1 translate="ASINGTOOLS.quickstart"> Quick Start </h1>

<h2 translate="ASINGTOOLS.install"> </h2>

<h3 translate="ASINGTOOLS.angular6"></h3>
<div class="install">
  <asi-code-viewer value="npm install --save @asi-ngtools\lib@^6.0.x"></asi-code-viewer>
</div>

<h3 translate="ASINGTOOLS.angular5"></h3>
<div class="install">
  <asi-code-viewer value="npm install --save @asi-ngtools\lib@^5.0.x"></asi-code-viewer>
</div>

<h3 translate="ASINGTOOLS.angular4"></h3>
<div class="install">
  <asi-code-viewer value="npm install --save @asi-ngtools\lib@^4.0.x"></asi-code-viewer>
</div>

<h2 translate="ASINGTOOLS.peerDependencies"></h2>
<h3> To fully work asi-ngtools need some external dependencies </h3>
<div class="install">
  <asi-code-viewer value="npm install --save moment @ngx-translate/core"></asi-code-viewer>
</div>

<h2 translate="ASINGTOOLS.importModule"></h2>
<div class="install">
  <span translate="ASINGTOOLS.importModuleLine1"></span>
  <span translate="ASINGTOOLS.importModuleLine2"></span>
</div>

<h2 translate="ASINGTOOLS.importStyle"></h2>
<h3 translate="ASINGTOOLS.importStyleWithLess"> With Less </h3>
<div class="install">
  <span translate="ASINGTOOLS.importStyleWithLessLine1"></span>
  <span><b translate="ASINGTOOLS.importStyleWithLessLine2"></b></span>
  <span translate="ASINGTOOLS.importStyleWithLessLine3"></span>
</div>

<h3 translate="ASINGTOOLS.importStyleWithCss"></h3>
<div class="install">
  <span translate="ASINGTOOLS.importStyleWithCssLine1"></span>
  <span><b translate="ASINGTOOLS.importStyleWithCssLine2"></b></span>
</div>
