<h1> asi-button </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiButtonModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <h3> Simple Button </h3>
  <div fxLayout="column">
    <div fxLayout="row">
      <asi-button design="flat">Flat Button</asi-button>
      <asi-button design="raised">Raised Button</asi-button>
      <asi-button design="bordered">Bordered Button</asi-button>
    </div>
    <div fxLayout="row">
      <asi-button design="flat" [disabled]="true" (click)="hello()"> Disabled Flat Button</asi-button>
      <asi-button design="raised" [disabled]="true" (click)="hello()"> Disabled Raised Button</asi-button>
      <asi-button design="bordered" [disabled]="true" (click)="hello()"> Disabled Bordered Button</asi-button>
    </div>
  </div>
</div>
<h3> Button with link element </h3>
<div fxLayout="column">
  <div fxLayout="row">
    <asi-link-button design="flat" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link
      Flat Button</asi-link-button>
    <asi-link-button design="raised" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link
      Raised Button</asi-link-button>
    <asi-link-button design="bordered" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">Link
      Bordered Button</asi-link-button>
  </div>
  <div fxLayout="row">
    <asi-link-button design="flat" [disabled]="true" (click)="hello()" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">
      Disabled Link Button</asi-link-button>
    <asi-link-button design="raised" [disabled]="true" (click)="hello()" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">
      Disabled Link Raised Button</asi-link-button>
    <asi-link-button design="bordered" [disabled]="true" (click)="hello()" href="https://ngtools.asi.fr/views/showroom/asi-ngtools/components/asi-button">
      Disabled Link Bordered Button</asi-link-button>
  </div>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="/** html id */
@Input() id: string;
/** html name */
@Input() name: string;
/** html type */
@Input() type: 'submit' | 'button' = 'button';

/** button design */
@Input() design: 'flat' | 'raised' | 'bordered' = 'flat';
/** button size */
@Input() size: 'standard' | 'small' | 'mini' = 'standard';
/** ensable/disable the button */
@Input() disabled = false;"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-button/asi-button.component.html"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
