<h1 class="title"> asi-button </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <code>import AsiNgToolsModule or AsiButtonModule</code>
  </div>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="Demo">
      <div fxLayout="row">
        <asi-button design="flat">Flat Button</asi-button>
        <asi-button design="raised">Raised Button</asi-button>
        <asi-button design="bordered">Bordered Button</asi-button>

        <asi-link-button design="flat" href="http://www.google.com">Link Flat Button</asi-link-button>
        <asi-link-button design="raised" href="http://www.google.com">Link Raised Button</asi-link-button>
        <asi-link-button design="bordered" href="http://www.google.com">Link Bordered Button</asi-link-button>
      </div>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-button/asi-button.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="Attributes">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>[design]</td>
            <td>Design of the button among three possibilities: 'flat' | 'raised' | 'bordered'</td>
          </tr>
          <tr>
            <td>[type]</td>
            <td>Type of the button among 'submit' | 'button'. Default value = 'button'</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
    <asi-tab label="Style Override">
      <table class="presentation-table">
        <thead>
          <th> Name </th>
          <th> Description</th>
        </thead>
        <tbody>
          <tr>
            <td>@asi-button-background-color</td>
            <td>Background color of the button</td>
          </tr>
          <tr>
            <td>@asi-button-label-color</td>
            <td>Label color of the button</td>
          </tr>
          <tr>
            <td>@asi-button-border</td>
            <td>Border of the button</td>
          </tr>
          <tr>
            <td>@asi-button-border-radius</td>
            <td>Border radius of the button</td>
          </tr>
          <tr>
            <td>@asi-button-outline-border</td>
            <td>Border of the button when focused</td>
          </tr>
          <tr>
            <td>@asi-button-hover-border</td>
            <td>Border of the button when hovered</td>
          </tr>
          <tr>
            <td>@asi-button-hover-background-color</td>
            <td>Background color of the button when hovered</td>
          </tr>
          <tr>
            <td>@asi-button-bordered-background-color</td>
            <td>Background color of the bordered button</td>
          </tr>
          <tr>
            <td>@asi-button-bordered-label-color</td>
            <td>Label color of the label in a bordered button. Default value = @asi-button-label-color</td>
          </tr>
          <tr>
            <td>@asi-button-bordered-border</td>
            <td>Border of the bordered button. Default value = @asi-button-border</td>
          </tr>
          <tr>
            <td>@asi-button-raised-box-shadow</td>
            <td>Box shadow of the raised button</td>
          </tr>
        </tbody>
      </table>
    </asi-tab>
  </asi-tab-group>
</div>
