<h1> asi-collapse </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiCollapseModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <asi-collapse [collapsed]="false">
    <asi-header *asiCollapseHeaderDef="let data">
      <div fxLayout="row" fxLayoutAlign="start center">
        <asi-fa-icon *ngIf="data.collapsed" icon="fa fa-chevron-right"></asi-fa-icon>
        <asi-fa-icon *ngIf="!data.collapsed" icon="fa fa-chevron-down"></asi-fa-icon>
        <label>Collapse 1</label>
      </div>
    </asi-header>
    Content of the collapse 1
  </asi-collapse>
  <asi-collapse label="Collapse 2">
    Content of the collapse 2
  </asi-collapse>
  <asi-collapse label="Collapse 3">
    Content of the collapse 3
  </asi-collapse>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="/** Collapse label */
@Input() label: string;
/** Is collapsed  */
@Input() collapsed = true;
/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted with the collapse status change */
@Output() onCollapse = new EventEmitter<Boolean>();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-collapse/asi-collapse.component.html"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
