<h1> asi-autocomplete </h1>
<h3> Simple autocomplete component working with async function </h3>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiAutoCompleteModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <h3 translate="COMMON.withNgModel"></h3>
  <asi-autocomplete label="label-autocomplete" [onRequestData]="requestData" [(ngModel)]="autoCompleteValue">
    <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
    <asi-option *asiOptionDef="let data" [innerHTML]="(data?.code + '-' + data?.libelle) | asiHighligh : search"></asi-option>
  </asi-autocomplete>

  <h3 translate="COMMON.withFormControl"></h3>
  <form [formGroup]="myForm">
    <div class="asi-container">
      <asi-autocomplete label="label-autocomplete" [onRequestData]="requestData" formControlName="myModel">
        <asi-selected *asiSelectedDef="let data">{{data?.code}} - {{data?.libelle}}</asi-selected>
        <asi-option *asiOptionDef="let data">{{data?.code}} - {{data?.libelle}}</asi-option>
      </asi-autocomplete>
      <error-messages forName="myModel">
        <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
      </error-messages>
    </div>
    <div fxLayout="row">
      <asi-button type="submit">Submit</asi-button>
    </div>
  </form>
</div>

<div class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
      <asi-code-viewer value="/** html id */
@Input() id: string;
/** html name */
@Input() name: string;

/** Label to display (is translated) */
@Input() label: string;

/** Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';

/** Delay between the moment you stop typing and onRequestData is called */
@Input() delay = 500;

/** A placeholder if needed */
@Input() placeholder = '';

/** Function called to request new data : Throw error if null */
@Input() onRequestData: Function;

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-autocomplete/asi-autocomplete.component.html">
      </asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-autocomplete/asi-autocomplete.component.ts">
      </asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
