<h1> asi-input </h1>

<div class="fixed-panel">
  <h2 translate="COMMON.installation"></h2>
  <div class="install">
    <asi-code-viewer value="import { AsiInputChipsModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>


<div class="fixed-panel">
  <h2 translate="COMMON.demo"></h2>
  <div fxLayout="column">
    <h3 translate="COMMON.withNgModel"></h3>
    <asi-input-chips label="asi-input" labelPosition="left" [(ngModel)]="inputValue" placeholder="Enter some text"
      [chips]="initialChips"></asi-input-chips>

    <h3>only unique values</h3>
    <asi-input-chips label="asi-input" labelPosition="left" [(ngModel)]="uniqueInputValue" placeholder="Enter unique text"
      uniq=true></asi-input-chips>

    <h3 translate="COMMON.withFormControl"></h3>
    <form [formGroup]="myForm" fxFlex (ngSubmit)="submit()">
      <div class="asi-container">
        <asi-input-chips label="asi-input-chips" labelPosition="left" formControlName="myModel"></asi-input-chips>
        <error-messages forName="myModel">
          <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
        </error-messages>
      </div>
      <div fxLayout="row">
        <asi-button type="submit">Submit</asi-button>
      </div>
    </form>
  </div>
</div>

<div fxLayout="row" class="flex-panel">
  <asi-tab-group>
    <asi-tab label="COMMON.props">
        <asi-code-viewer value="/** html id */
@Input() id: string;
/** html name */
@Input() name: string;

/** Label to display (is translated) */
@Input() label: string;
/**Label position */
@Input() labelPosition: 'top' | 'left' | 'right' | 'bottom' | 'bottom-center' | 'top-center' = 'top';

/** Placeholder to display */
@Input() placeholder = '';

/** Max length of the text */
@Input() maxlength = -1;

/** Must be a number (internaly set the regex to ^-*[0-9,\.]*$ */
@Input() number = false;

/** Delay before the component change value */
@Input() delay = 0;

/** Allow you to define only one value */
@Input() uniq = false;

/** Initial data */
@Input() chips: Array<string>;

/** is enabled/disabled */
@Input() disabled = false;

/** Event emitted when component value changed */
@Output() onValueChange = new EventEmitter<any>();"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-input/asi-input.component.html"></asi-code-viewer>
    </asi-tab>
    <asi-tab label="TS">
      <asi-code-viewer language="typescript" fromUrl="assets/demo/asi-input/asi-input.component.ts"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
