<h1> asiDate </h1>
<h3>Date pipe using moment format </h3>

<div class="fixed-panel">
  <h3> Installation </h3>
  <div class="install">
    <asi-code-viewer value="import { AsiPipesModule } from '@asi-ngtools/lib'"></asi-code-viewer>
  </div>
</div>

<div fxLayout="row" class="fixed-panel">
  <asi-tab-group>
    <asi-tab label="Demo">
      <p>Today is {{ today | asiDate }} (Default pattern)</p>
      <p>Today is {{ today | asiDate:'MM-DD-YYYY' }} ('MM-DD-YYYY')</p>
    </asi-tab>
    <asi-tab label="HTML">
      <asi-code-viewer language="html" fromUrl="assets/demo/asi-date-pipe/asi-date-pipe.component.html"></asi-code-viewer>
    </asi-tab>
  </asi-tab-group>
</div>
