<label class="input-label" [translate]="label"></label>
<div class="asi-dmypicker-container">
  <asi-select class="asi-dmy-days" [disabled]="disabled" [withEmptyValue]="true" [hidden]="dayHidden" [data]="days" [(ngModel)]="day"
    (ngModelChange)="onDayChange($event)">
    <asi-empty *emptyDef>{{dayLabel}}</asi-empty>
    <asi-selected *selectedDef="let data">{{data}}</asi-selected>
    <asi-option *optionDef="let data">{{data}}</asi-option>
  </asi-select>
  <asi-select class="asi-dmy-months" [disabled]="disabled" [withEmptyValue]="true" [data]="months" [(ngModel)]="month" (ngModelChange)="onMonthChange($event)">
    <asi-empty *emptyDef>{{monthLabel}}</asi-empty>
    <asi-selected *selectedDef="let data">{{data.num + " - " + data.libelle}}</asi-selected>
    <asi-option *optionDef="let data">{{data.num + " - " + data.libelle}}</asi-option>
  </asi-select>
  <asi-select class="asi-dmy-years" [disabled]="disabled" [withEmptyValue]="true" [data]="years" [(ngModel)]="year" (ngModelChange)="onYearChange($event)">
    <asi-empty *emptyDef>{{yearLabel}}</asi-empty>
    <asi-selected *selectedDef="let data">{{data}}</asi-selected>
    <asi-option *optionDef="let data">{{data}}</asi-option>
  </asi-select>
</div>