<h3> With ngModel</h3>
<asi-checkbox [(ngModel)]="check" label="checkbox" labelPosition="left"></asi-checkbox>

<h3> With formControl</h3>
<form [formGroup]="myForm">
  <div class="asi-container">
    <asi-checkbox formControlName="myModel" label="checkbox" labelPosition="left"></asi-checkbox>
    <error-messages forName="myModel">
      <message error="required" value="VALIDATIONS.required" [onSubmit]="true"></message>
    </error-messages>
  </div>
  <asi-button type="submit">Submit</asi-button>
</form>